{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
		"indent": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"semi": [2, "never"],
        "no-tabs": 0,
        "prefer-template": 0,
        "consistent-return": 0,
        "comma-dangle": 0,
		"no-use-before-define": 0,
		"max-len": ["error", 120],
        "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
        "import/no-unresolved": [2, { "ignore": ["electron"] }],
		"react/jsx-no-bind": 0,
		"react/prefer-stateless-function": 0,
		"jsx-a11y/href-no-hash": 0
    },
    "plugins": [
        "import",
        "react"
    ]
}