.cm-s-todox {
	&.CodeMirror {
		background: $bgColor;
		color: $textColor;
	}

	div.CodeMirror-selected {
		background: lighten($bgColor, 5%);
		color: lighten($textColor, 15%);
	}

	.CodeMirror-sizer {
		margin-left: 0 !important;
	}

	.CodeMirror-line {
		padding: 1rem 5vw;
	}

	.CodeMirror-cursor {
		border-left: 1px solid darken($textColor, 5%);
	}

	.CodeMirror-activeline-background {
		background: lighten($bgColor, 3%);
	}

	.CodeMirror-gutters {
		background: transparent;
		border: 0;
		left: 2.8rem !important;
	}

	.CodeMirror-guttermarker-subtle,
	.CodeMirror-foldmarker {
		margin-top: 1rem;
		color: lighten($bgColor, 15%);
		cursor: pointer;
	}

	.CodeMirror-foldmarker {
		color: lighten($bgColor, 20%);
		text-shadow: 0 0 rgba(0, 0, 0, 0);
		background: lighten($bgColor, 3%);
		border-radius: 0.25em;
		line-height: 0.125em;
		height: 0.625em;
		margin-top: 0.3125em;
		margin-left: 0.3125em;
		display: inline-block;
		vertical-align: top;
	}

	.CodeMirror-guttermarker-subtle {
		transition: 0.3s ease opacity;
	}

	.CodeMirror-foldgutter-open::after {
		margin-left: -1px;
	}

	.CodeMirror-gutter-elt {
		left: 2.8vw !important;
	}

	.CodeMirror-overlayscroll-vertical div {
		background: lighten($bgColor, 4%);
		border-radius: 0;
		transition: 0.3s ease background, 0.3s ease width;

		&:hover {
			width: 8px;
			background: lighten($bgColor, 8%);
		}
	}

	/* Todo.txt syntax theme */
	.cm-task-completed {
		text-decoration: line-through;
		opacity: 0.4;
	}

	.cm-task-context {
		color: #3F8D27;
	}

	.cm-task-project {
		color: #8A3EF6;
	}

	.cm-task-priority, .cm-task-priority1, .cm-task-priority2, .cm-task-priority3 {
		font-weight: bold;
	}

	.cm-task-priority1, .cm-task-priority2, .cm-task-priority3 {
		color: #FF9300;
	}

	.cm-task-priority2 {
		opacity: 0.7;	
	}

	.cm-task-priority3 {
		opacity: 0.6;	
	}

	.cm-task-keyval {
		color: #4294F7;
	}

	.cm-task-link {
		color: #daa;
		border-bottom: 1px dotted #daa;
		cursor: pointer;
	}

	.cm-task-divider {
		display: block;
		border-bottom: 1px solid $textColor;
		color: transparent;
		margin: -1.5rem 0 0.5rem 0;
		opacity: 0.2;
	}

	.cm-task-heading {
		font-size: 1.5em;
		font-weight: bold;
	}

	.cm-filterMatch {
		background: lighten($bgColor, 5%);
	}

	.cm-searchResult {
		background-color: yellow;
	}
}

.applicationWrapper.filterActive {
	.CodeMirror-line {
		font-size: 0.5em;
		padding: 0 5vw;
		opacity: 0.2;
	}

	.cm-task-heading {
		font-size: 1em;
	}

	.cm-task-divider {
		margin: -3.5rem 0 -1.5rem 0;
		opacity: 0.8;
	}

	.CodeMirror-guttermarker-subtle {
		margin-top: 0;
    	transform: scale(0.5);
	}

	.filterResult {
		.CodeMirror-line {
			font-size: 1em;
			opacity: 1;
			padding: 1rem 5vw;
		}

		.CodeMirror-guttermarker-subtle {
			margin-top: 1rem;
			transform: scale(1);
		}
	}
}

.CodeMirror-scroll {
	overflow-x: hidden !important;
}

.CodeMirror-sizer {
	/* prevent scrollbar from changing width of contents */
	padding-right: 0 !important;
}

.CodeMirror-search-match {
	background: lighten($bgColor, 20%);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0.5;
}

.cm-searching {
	background: lighten($bgColor, 4%);
	outline: 2px solid lighten($bgColor, 4%);
	color: lighten($textColor, 20%);
}

.CodeMirror-dialog {
	z-index: 6;
	background: rgba(255, 255, 255, 0.1);

	/* no transparancy so overlapping the updater looks correct */
	background: rgb(25, 64, 74);
	color: rgba(255, 255, 255, 0.4);
	width: 100%;
	line-height: 2rem;
	padding: 1rem calc(11px + 5vw) 0;
	position: fixed;
	top: -1rem;
}

[data-platform=darwin] .CodeMirror-dialog {
	padding-top: 2rem;
}

.CodeMirror-dialog-top {
	border-bottom: 0;
	top: -1rem;
}

.CodeMirror-dialog input {
	border: none;
	outline: none;
	display: inline-block;
	width: calc(100% - 9rem) !important;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.CodeMirror-dialog button {
	border: 0;
	font-size: inherit;
	font-family: inherit;
	background: none;
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px;
	color: darken($textColor, 5%);
	cursor: default;
}

.CodeMirror-dialog button:hover,
.CodeMirror-dialog button:focus,
.CodeMirror-dialog button:active {
	color: lighten($textColor, 15%);
	outline: 0;
}

.CodeMirror-search-hint {
	display: none;
}
